/* ================================= 
  Base Element Styles
==================================== */

* {
    box-sizing: border-box;
  }
   
body {
      line-height: 1.6;
      background-color: #97afaf;
      text-align: center;
      font-family: 'Montserrat', sans-serif;
  }


a {
    text-decoration: none;
}

a:link,
a:visited {
  color: black;
  border-bottom: 2px solid tranparent;
  text-shadow: 2px 1px transparent;
  transition: 0.75s border-bottom text-shadow;
}

a:hover {
  border-bottom: 2px solid slategray;
  text-shadow: 2px 1px rgba(63, 62, 62, 0.39);
  cursor: pointer;
}

li {
    list-style: none;
    text-transform: uppercase;
}

ul {
    padding-left: 0;
}

h2 {
  text-transform: uppercase;
}

.header-container,
.footer
 {
  font-family: 'Roboto', sans-serif;
}

  /* ================================= 
    Base Layout Styles
  ==================================== */
/* ----- Header ------*/
.header {
    padding-bottom: 2rem;
}

h1 {
    width: 100%;
    margin: 0;
    padding-top: 1rem;
}

.profile-text {
    padding: 1rem;
}

.profile-image {
    height: auto;
    max-width: 250px;
    width: 100%;
    margin: 0 auto;
    margin-top: 1rem;
    padding: 0.5rem;
}
  
/* ---- Navigation ---- */
  .header_nav li {
    margin: 0.5rem;
    padding: 0.75rem;
    background-color: #FFF;
    font-weight: 700;
}
 
/* ---- Porfolio Section ---- */
h2 {
    padding: 1.5rem;
}

.portfolio {
  background-color: #FFF;
  margin: 0 auto;
  padding: 1rem 0.75rem;
}

.portfolio-card {
  padding: 1rem;
}
/* ---- Project Image Formatting ------*/
.project-image {
    width: 100%;
    padding: 0.5rem;
    margin: 0 auto;
}

/* ---- Contact Section ------*/
.skills-contact-content {
  padding: 3rem 1rem;
}

.phone,
.email-link,
.email-link:visited {
  color:black;
  font-weight: 700;
}

span {
  padding-left: 0.5rem;
}

/* ---- Skills ------*/
.skills {
  padding: 1rem 0.5rem;
}
.skills-list li:hover {
  border: 1px solid black;
  background-color: lightgray;
}

/* ---- Footer ------*/
.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  border-top: 0.5px solid lightgray;
 }

.footer_nav {
  display: none;
}
.footer-mobile-nav {
  text-transform: uppercase;
}
  /* ================================= 
    Media Queries
  ==================================== */
  /*Tablets*/
  @media (min-width: 768px) and (max-width: 1023px) {
    /* ----- Header ------*/
    .header {
      padding-left: 1rem;
      padding-right: 1rem;
    }

    .header_nav li {
      display: inline-block;
      background-color: #97afaf;
    }
    
    .header_profile {
      display: flex;
      flex-direction: row-reverse;
    }

    .profile-text {
      text-align: left;
      padding-right: 0;
      margin-right: 0;
      padding-left: 1rem;
      padding-top: 0;
      margin-top: 0;
      width: 50%;
    }

    .profile-image {
      padding-top: 0;
      margin-top: 0;
      padding-right: 0.25rem;
      padding-left: 0;
  }
  /* ----- Main ------*/
  .porfolio-container {
    display: grid;
    grid-template-columns: repeat(2, minmax(250px, 1fr));
  }

  .contact,
  .skills {
    width: 75%;
    margin: 0 auto;
  }

/* ---- Footer -------*/
.footer {
  font-size: 0.75rem;
}

.footer-mobile-nav {
  display: none;
}

.footer_nav {
  display: inline-block;
  padding-right: 0;
}

.footer_nav li {
  display: inline-block;
  font-weight: 700;
  padding: 1rem;
}

}

/*Desktop Screen*/
@media (min-width: 1024px) {
/* ----- Header ------*/
.header {
  padding-left: 1rem;
  padding-right: 1rem;
}

h1 {
  text-align: left;
  font-size: 1.2rem;
}

.header-container {
  display: flex;
  justify-content: space-around;
  align-self: center;
  align-content: center;
  align-items: center;
  font-size: 0.75rem;
  padding: 0.5rem;
  margin: 0.5rem;
}

.header_nav_link {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.header_nav li {
  display: inline-block;
  background-color: #97afaf;
}

.header_profile {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-content: center;
}

.profile-text {
  text-align: left;
  margin-top: 0;
  margin-right: 0.25rem;
  padding-top: 0;
  width: 65%;
}

.profile-image {
  height: auto;
  margin-top: 0;
  padding-top: 0;
  width: 50%;
  max-width: 300px;
}

 /* ----- Main ------*/
.porfolio-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(250px, 1fr));
  }

.portfolio-card {
  padding: 0.5rem;
}

.contact,
.skills {
  width: 50%;
  margin: 0 auto;
  }

/* ---- Footer -------*/
.footer {
  font-size: 0.75rem;
}

.footer-mobile-nav {
  display: none;
}

.footer_nav {
  display: inline-block;
  padding-right: 0;
}

.footer_nav li {
  display: inline-block;
  font-weight: 700;
  padding: 1rem;
}
  
  }
  
  